body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    background: linear-gradient(45deg, #000000, #495774, #000000, #432762, #000000);

    background-size: 500% 500%;
    animation: gradientAnimation 10s ease infinite;
    z-index: 2;
    position: relative;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.parties-container {
    display: flex;      
    justify-content: center; 
    align-items: center;   
    height: 60vh;    
    margin: 0;
    padding: 20px;
    overflow-x: hidden;  
    top: 60px; 
    
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #22285b;
    
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #674c9c;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid  #22285b;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color:  #22285b;
}